body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(212, 45%, 89%)
}

h3 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding: 0 15px;
    margin: 0;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding: 0 15px;
 
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    height: 500px;
    width: 300px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr {
    padding: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}